body {

    /* background-color: black; */
    background-image: url(assets/images.jpg);
    background-attachment: fixed;
    background-attachment: center;
    background-attachment: cover;
}

h1 {
    text-align: center;
    color: red;
    font-size: 90px;
    font-family: 'gigi';
}

p {
    text-align: justify;
    color: aqua;
    font-size: 67px;

}

button {
    display: block;
    background-color: blue;
    margin: 30px auto;
    border-radius: 10px;

}

a {
    display: block;
    color: bisque;
    text-decoration: none;
    margin: 5px;
}